@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient( 90deg, #e2e2e2, #c9d6ff);
}

.container{
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
}

.formBox{
    padding: 40px;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    z-index: 2;
}

form{
    width: 100%;
}

.container h1{
    font-size: 36px;
    margin: -10px 0;
}

.inputBox{
    position: relative;
    margin: 30px 0;
}

.inputBox input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border-radius: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    background: #eee;
}

.inputBox input::placeholder{
    color: #aaa;
    font-weight: 400;
}

.inputBox i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: blueviolet;
}

.forgotLink{
    margin: -15px 0 15px;
    font-size: 14px;
}

.forgotLink a{
    color: blue;
    font-size: medium;
    text-decoration: none;
}

.btn{
    width: 100%;
  height: 48px;
    background: rgba(0, 0, 139, 0.63);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container p{
    margin: 20px 0;
    font-size: medium;
    color: black;
}

.SocialIcons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: blue;
    text-decoration: none;
    margin: 0 8px;
}

.formBox.Register{
   visibility: hidden;
}

.toggleBox{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.toggleBox::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: blueviolet;
    border-radius: 150px;
    z-index: 2;
}

.togglePanel{
    position: absolute;
    width: 50%;
    height: 100%;
    background: blueviolet;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.togglePanel .toggleRight{
    right: -50%;
}

.togglePanel p{
    margin-bottom: 20px;
}

.togglePanel .btn{
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid white;
    box-shadow: none;
}